name: Update from YutubePlus

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-json:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Fetch latest release metadata from GitHub API
        id: get_release
        run: |
          RELEASE=$(curl -s https://api.github.com/repos/diarrhea3/YTLiteDiarrhea/releases/latest)
          TITLE=$(echo "$RELEASE" | jq -r '.name')
          VERSION=$(echo "$TITLE" | awk '{print $1}')
          URL=$(echo "$RELEASE" | jq -r '.assets[] | select(.name | endswith(".ipa")) | .browser_download_url')
          echo "version=$VERSION" >> $GITHUB_OUTPUT
          echo "url=$URL" >> $GITHUB_OUTPUT

      - name: Update JSON
        run: |
          VERSION="${{ steps.get_release.outputs.version }}"
          DOWNLOAD_URL="${{ steps.get_release.outputs.url }}"
          DATE=$(date -Iseconds)
          SIZE=$(curl -sL "$DOWNLOAD_URL" | wc -c)

          jq --arg version "$VERSION" \
             --arg url "$DOWNLOAD_URL" \
             --arg date "$DATE" \
             --argjson size "$SIZE" \
             '
             .apps[0].versions |=
             [{
               downloadURL: $url,
               size: $size,
               version: $version,
               buildVersion: null,
               date: $date,
               localizedDescription: null,
               minOSVersion: null
             }] + .
             ' migu.json > tmp.json

          mv tmp.json migu.json

      - name: Commit changes
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add migu.json
          git commit -m "Update to ${{ steps.get_release.outputs.tag }}"
          git push
